@import 'tailwindcss';

:root {
  /* Background */
  --primary-w: #ffffff;
  --secondary: #e4e8ed;

  --border: #94a3b8;
  --navy: #0e1b3f;
  --accent: #ff5722;
  --cream: #faf6f0;
  --brown: #a07a4b;

  /* text */
  --primary-t: #222222;
}

@theme inline {
  --color-primary-w: var(--primary-w);
  --color-secondary: var(--secondary);

  --color-border: var(--border);
  --color-navy: var(--navy);
  --color-accent: var(--accent);
  --color-cream: var(--cream);
  --color-brown: var(--brown);

  --color-primary-t: var(--primary-t);

  --font-plusJakartaSans: var(--font-plusJakartaSans);
  --font-outfit: var(--font-outfit);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;
}
